@{
    ViewBag.Title = "Profile";
}

<head>
    <script src="~/Scripts/authInterceptor.js"></script>
    <script src="~/Scripts/User.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
</head>

<h2>Profile</h2>
<div class="userInformation">
    <div class="form-group" hidden>
        <label id="userId"></label>
    </div>
    <div class="form-group">
        <label id="userName"></label>
    </div>
    <div class="form-group">
        <label id="userFirstName"></label>
    </div>
    <div class="form-group">
        <label id="userLastName"></label>
    </div>
    <div class="form-group">
        <label id="userEmail"></label>
    </div>
    <div class="form-group">
        <label id="userPassword"></label>
    </div>
    <div class="form-group">
        <button type="submit" id="btnShowModal" class="btn btn-info">Edit Profile</button>
    </div>
</div>

<div id="userFormUpdate" class="modal fade" style="transform: translateY(13%);" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Edit your profile</h4>
            </div>
            <div class="modal-body">
                <form id="updateProfile">
                    <div class="form-group">
                        <label id="userId">id</label>
                        <input id="userIdInput" class="form-control" type="text" readonly />
                    </div>
                    <div class="form-group">
                        <label id="userName">Username</label>
                        <input id="userNameInput" name="username" class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label id="userFirstName">First Name</label>
                        <input id="userFirstNameInput" name="firstname" class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label id="userLastName">Last Name</label>
                        <input id="userLastNameInput" name="lastname" class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label id="userEmail">Email</label>
                        <input id="userEmailInput" name="email" class="form-control" type="email" />
                    </div>
                    <div class="form-group">
                        <label id="userPassword">Password</label>
                        <input id="userPasswordInput" name="password" class="form-control" type="password" />
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="btnUpdate" value="Edit" class="btn btn-info" />
                        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


@section Scripts {

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

    <script>
        $(document).ready(async function () {
            let user = await GetUser()

            IsNotLogged()

            ValidateForm()
            $('#updateProfile').submit(function (event) {
                event.preventDefault()

                if ($(this).valid()) {
                    UpdateProfile()
                }
            })

            FillLabels(user)
            ShowEditModal(user)
        })

        const ShowEditModal = (user) => {
            $('#btnShowModal').click(function () {
                $('.modal-body #userIdInput').val(user.userId)
                $('.modal-body #userNameInput').val(user.userName)
                $('.modal-body #userFirstNameInput').val(user.userFirstName)
                $('.modal-body #userLastNameInput').val(user.userLastName)
                $('.modal-body #userEmailInput').val(user.userEmail)

                $('#userFormUpdate').modal()
            })
        }

        const FillLabels = (user) => {
            $('#userId').text(`id: ${user.userId}`)
            $('#userName').text(`Username: ${user.userName}`)
            $('#userFirstName').text(`First Name: ${user.userFirstName}`)
            $('#userLastName').text(`Last name: ${user.userLastName}`)
            $('#userEmail').text(`Email: ${user.userEmail}`)
            $('#userPassword').text('Password: ******')
        }

        const UpdateProfile = () => {
            let userId = $('.modal-body #userIdInput').val()
            let userName = $('.modal-body #userNameInput').val()
            let userFirstName = $('.modal-body #userFirstNameInput').val()
            let userLastName = $('.modal-body #userLastNameInput').val()
            let userEmail = $('.modal-body #userEmailInput').val()
            let userPassword = $('.modal-body #userPasswordInput').val()

            let user = JSON.stringify({
                'userId': userId,
                'userName': userName,
                'userFirstName': userFirstName,
                'userLastName': userLastName,
                'userEmail': userEmail,
                'userPassword': userPassword
            })

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                url: "@Url.Action("UpdateUser", "User")",
                data: user,
                success: function (response) {
                    if (response.success) location.reload()
                    else swal(response.errorMessage)
                },
                error: function () {
                    swal("Ha ocurrido un error.")
                }
            })
        }

        const ValidateForm = () => {
            $('#updateProfile').validate({
                rules: {
                    username: {
                        required: true,
                        minlength: 2
                    },
                    firstname: {
                        required: true,
                    },
                    lastname: {
                        required: true,
                    },
                    email: {
                        required: true
                    },
                    password: {
                        required: true,
                        minlength: 6
                    }
                },
                messages: {
                    username: {
                        required: 'Please provide an username.',
                        minlength: 'Your username must consist of at least 2 characters.'
                    },
                    firstname: {
                        required: 'Please provide your first name.'
                    },
                    lastname: {
                        required: 'Please provide your last name. '
                    },
                    email: {
                        required: 'Please provide an email.'
                    },
                    password: {
                        required: 'Please provide a password.',
                        minlength: 'Your password must be at least 6 characters long.'
                    }
                }
            })
        }

    </script>
}